.container {
  margin: 120px auto;
  max-width: 600px;
}
body {
  background-color: #013328;
  font-family: Helvetica, Arial, sans-serif;
}
header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 32px;
  line-height: 1.5;
  color: #cc8b65;
}
.form-wrapper {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 20px 30px;
}

form {
  display: flex;
}
footer {
  text-align: center;
  font-size: 12.5px;
  margin-top: 30px;
  color: #e3dcd2;
}
a {
  color: #cc8b65;
}
.search {
  padding: 16px;
  border: 1px solid rgb(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 40px;
  line-height: 20px;
  color: #013328;
}
.submit-button {
  margin-left: 10px;
  background-color: #013328;
  color: #e3dcd2;
  border-radius: 20px;
  border: none;
  width: 80px;
}
.recipe {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #cc8b65;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 5px;
}
.example {
  line-height: 1.5;
  font-size: 14px;
  margin-top: 5px;
  opacity: 0.6;
}
.hidden {
  display: none;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
